.list-item{
  margin-bottom: 16px; /* Add margin at the bottom of each list item */

  margin: 400px;
 margin-top: -400px;
 justify-content: center;
// margin-left: 50px;
 background-color: grey;
 color: #fff;
 font-family: sans-serif;
 //background: linear-gradient(#141e30, #243b55);
 width: 400px;
 padding: 40px;
 border-radius:16px;
 box-shadow:0 0 8px #000;
 box-sizing: border-box;
 //margin-bottom: 100px;
 //box-shadow: 0 15px 25px rgba(0,0,0,.6);
 //border-radius: 10px;
}