$primary-color: #ff7b00;
$secondary-color: #6c757d;

// .ToDo {
//   padding: 20px;
  
// }
.con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.list-container {
  padding: 20px;
  border: 1px solid #ccc;
}
.ToDo {
  padding: 20px;
  border: 1px solid #ccc;
}
  .hed {
    background-color: rgb(226, 126, 201);
    color: white;
    text-align:center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    //padding-top: 0px;
  }
  
  form {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;

      span {
        display: block;
        color:black;
      }

      input[type="text"] {
        width: 50%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input[type="range"] {
        width: 50%;
      }

      button[type="submit"] {
        background-color:#007bff ;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .custom-pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-pagination button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .custom-pagination .current-page {
    font-weight: bold;
    color: #007bff;
  }
  
  .custom-pagination .total-pages {
    margin: 0 10px;
    color: #777;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .custom-pagination .current-page {
    font-weight: bold;
    color: #007bff;
    animation: pulse 1s infinite;
  }
  